# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:  逻各斯与努斯
subtitle: 保持理性，追求自由
name: 逻各斯与努斯 
email: leiwei2603877573@sina.com
description: 本站是逻各斯与努斯的技术分享博客。内容涵盖java技术、生活、人文、自然科学、艺术等知识分享。
keywords: 逻各斯与努斯,理性,自由,数据结构与算法,设计模式,Java,Jvm,Mysql,Spring,Spring Boot,Spring Cloud,MongoDB,Docker,分布式,哲学,历史,宗教,人文,数学,科幻,物理,数学,音乐
encoding: "utf-8"
favicon: favicon.ico 

repository: devinlei/devinlei.github.io
github_url: https://github.com/devinlei
url: https://devinlei.github.io
enforce_ssl: ityouknow.com

## Gem
plugins:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata
  - jekyll-octicons
  
# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true
  syntax_highlighter: rouge

syntax_highlighter_opts:
   coderay_line_numbers:  nil

# Pagination
paginate: 12
paginate_path: 'page:num'

# Navigation. top menu list
menus:

  -
    href: /zsxq.html
    label: 星球
    target: _self

  -
    href: /gitchat.html
    label: Chat
    target: _self

  -
    href: http://gk.link/a/103Gb
    label: 极客
    target: _blank

  -
    href: /life.html
    label: 故事
    target: _self

  -
    href: /arch.html
    label: 架构
    target: _self

  -
    href: /link.html
    label: 友链
    target: _self



# Navigation. main menu list
navs:

  -
    href: /
    label: Home

  -
    href: /spring-boot.html
    label: Spring Boot
    target: _self
    subnav:

      -
        subHref: /spring-boot.html
        subLabel: Spring Boot

      -
        subHref: /spring-cloud.html
        subLabel: Spring Cloud

  -
    href: /spring-cloud.html
    label: Spring Cloud
    target: _self

  -
    
    href: http://www.justdojava.com
    label: Java
    target: _blank

  -
    href: /archives.html
    label: Archives
    target: _self

  -
    href: /about.html
    label: About
    target: _self


# labels. my blog key words
labels:

  -
    href: /payment.html
    label: 支付     
    target: _self

  -
    href: /fastdfs.html
    label: FastDFS
    target: _blank

  -
    href: /mongodb.html
    label: MongoDB
    target: _blank

  -
    href: /docker.html
    label: Docker
    target: _blank

  -
    href: /open-source.html
    label: Code  
    target: _blank

  -
    href: /it.html
    label: IT 
    target: _blank

  -
    href: /python.html
    label: Python  
    target: _blank


# selected articles
classes:

  -
    href: /life.html
    name: 我的故事
    describe: 生活就是故事，故事就是生活

  -
    href: /arch.html
    name: 架构师之路
    describe: 一个架构师的自我修养

  -
    href: /java.html
    name: Java 系列文章
    describe: Java 之根基，Java 程序员必学


# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
# analytics :
# provider : google
#   google :
#     tracking_id : ''  # ex. UA-72165600-X


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, MySQL, Oracle, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, NodeJS, ExpressJS, MongoDB, Redis, PHP,  Boostrap]
skill_mobile_app_keywords: [vuejs, hyhird app]


# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: devinlei
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: devinlei
    repo: blog-comments
    oauth:
        client_id: 93fb5d6b6cc8ddee60c2
        client_secret: 1889dc904b3af56f214933c7f32ad4849f734519
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: devinlei
    repo: blog-comments
    clientID: 93fb5d6b6cc8ddee60c2
    clientSecret: 1889dc904b3af56f214933c7f32ad4849f734519
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true
