<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2017年6月，毕业于某普通高校软件工程专业。</p>
        <p>2017年7月，正式踏入职场工作。</p>
        <p>2017年-2018年，在西安工作了一年零两个月。</p>
        <p>2018年来到杭州。</p>
        <p>2018年10月搭建了个人博客。并开通了微信公众号</p>
        <p>目前仍然是个菜鸟程序员</p>
        <p>希望早日实现财富自由,然后去周游世界。</p>
        <p>我是逻各斯与努斯，一个还没放弃挣扎，始终追求理性与自由的凡人！</p>

         <p>
          <strong>个人公众号</strong>：<a href="/assets/images/mysubscrible.jpg" target="_blank">自由人文主义（ID：keeppuresmile）</a>，“给岁月以文明,而不是给文明以岁月”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>座右铭:通过改变自身以适应万变的世界！</p>
		<p>信奉:生而平凡,生而不凡！</p>
		<p>人生态度:与其平庸一生,不如灿烂一瞬！</p>

        
        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>leiwei2603877573</strong>（备注：博客）</li>
        </ul>
		
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="/assets/images/mysubscrible.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>
	   
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>